<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="false">
    
    <parameter name="searchQuerry" value="Java"/>
    <parameter name="bookToSearch" value="Head First Java, 2nd Edition"/>


    <test name="ChromeTest">

        <parameter name="browser" value="chrome"/>

        <classes>

            <class name="amazon.search.autotest.tests.AmazonSearchTest">

            </class>

        </classes>

    </test>

    <!--UNCOMMENT BELOW LINES TO TEST IN OTHER BROWSERS-->

    <!--<test name="FirefoxTest">-->

        <!--<parameter name="browser" value="Firefox"/>-->

        <!--<classes>-->

            <!--<class name="amazon.search.autotest.tests.AmazonSearchTest">-->

            <!--</class>-->

        <!--</classes>-->

    <!--</test>-->

    <!--<test name="EdgeTest">-->

        <!--<parameter name="browser" value="Edge"/>-->

        <!--<classes>-->

            <!--<class name="amazon.search.autotest.tests.AmazonSearchTest">-->

            <!--</class>-->

        <!--</classes>-->

    <!--</test>-->

</suite>